var {{controller}} = WSP.Controller.extend({
  initialize:function(){
    this.form = {{form}};
    WSP.Controller.prototype.initialize.call(this);
  },
  viewDidLoad: function(){

  },
  viewWillAppear: function(){
    {{#callbacks}}
    this.widgetEventBind("{{event}}", this.form.{{name}}, this.{{name}}Callback);
    {{/callbacks}}
  },
  viewDidAppear:function(){

  },
  viewDidDisappear: function(){

  },
  {{#callbacks}}
  {{name}}Callback:function(){
  },
  {{/callbacks}}
},{
  extend:WSP.WSPObject.extend
});
